.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-trigger {
    cursor: pointer; 
    
}
.dropdownList:hover{
 display: block;
}
.hoverTrigger:hover > ul {
    display: block;
}
.hoverTrigger ul {
    display: none;
}
